@{
    ViewData["Title"] = "欢迎使用";
}

<div class="text-center">
    <h1 class="display-4">欢迎您使用先行管理平台</h1>
    <p></p>
    <small class="text-black-50" style="display: flex; justify-content: center; margin-bottom: 16px">扫码使用小程序</small>
    <img class="qrcode middle" src="~/imgs/scan_258.jpg" />
</div>
