@{
    ViewData["Title"] = "隐私政策";
}
<h1>@ViewData["Title"]</h1>

<p>先行多媒体网络技术有限公司及其全球的关联公司（下文简称“先行公司”、“我们”和“我们的”）深知隐私对您的重要性，并会尊重您的隐私。请在向先行公司提交个人信息之前，阅读、了解本《隐私政策》（下文简称“本政策”）。本政策适用于显示本隐私政策、或链接至本隐私政策的先行公司网站和产品、服务。特别的，本网站由先行公司运营，先行公司是该网站所收集的个人信息的个人信息处理者。</p>

<p>本政策阐述了先行公司如何处理您的个人信息，但本政策可能并不涉及所有可能的数据处理情境。有关收集产品或服务特定数据的信息可能由先行公司在特定产品或服务发布的专门隐私通知或补充声明中阐述，或者在收集数据时提供的通知中发布。</p>

<p>我们制定本政策的目的在于帮助您了解以下内容：</p>
<li>先行公司如何收集和使用您的个人信息</li>
<li>先行公司如何使用 Cookie 和同类技术</li>
<li>先行公司如何披露您的个人信息</li>
<li>您在个人信息处理活动中的权利</li>
<li>先行公司如何保护您的个人信息</li>
<li>先行公司如何处理儿童的个人信息</li>
<li>第三方提供商及其服务</li>
<li>您的个人信息如何在全球范围转移</li>
<li>本政策如何更新</li>
<li>如何联系先行公司</li>
