@page
@using System.Runtime.InteropServices
@using System.IO
@using System.Diagnostics
@model IndexModel
@{
    ViewData["Title"] = "欢迎访问";
}

<div class="container">
    <div class="title">
        <img class="title-logo" src="https://static-index-4gtuqm3bfa95c963-1304825656.tcloudbaseapp.com/official-website/favicon.svg" />
        <h1 style="display: inline; margin-bottom: 48px"><span style='font-size:40px;color:rgb(224,25,224);font-style:normal;font-weight:normal;'>&#129505;</span>感谢您<span style='font-size:40px;color:rgb(224,25,224);font-style:normal;font-weight:normal;'>&#129505;</span><br />关注SweetSnow</h1>
    </div>
    <div style="text-align: center">
        <p class="count-text">当前计数：<span class="count-number"></span></p>
        <div style="display: flex; justify-content: center; margin-bottom: 80px">
            <a class="btn btn-success btn-lg count-button" style="background: #07c160; border: 0" onclick="set('inc')">计数+1</a>
            <a class="btn btn-outline-success btn-lg count-button" style="background: rgba(0, 0, 0, 0.03); color: #07c160; border: 0" onclick="set('clear')">清零</a>
        </div>
        
        <div style="display: flex; justify-content: center; margin-bottom: 80px">
            <a class="btn btn-success btn-lg count-button" style="background: #49bbfe; border: 0" href="/elate/index.html">前台展示</a>
            <a class="btn btn-success btn-lg count-button" style="background: #07c160; border: 0" href="~/Home/Index">后台管理</a>
        </div>
        <small class="text-black-50" style="display: flex; justify-content: center; margin-bottom: 16px">扫码关注SweetSnow</small>
        <img class="qrcode middle" src="~/imgs/scan.png" />
    </div>
</div>
